<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Engines List</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/parc.css" />
    <script type="text/javascript" src="/js/parc.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>N° PARC</h1>
      <% params.engines.forEach(engine => { %> <% const status =
      params.STATUS[engine.current_status_engine - 1] %>
      <div class="engine-card">
        <div class="engine-info">
          <h5><%= engine.num_parc_engine %></h5>
          <p><%= engine.designation_engine %></p>
        </div>
        <div class="status <%= status.id %>">
          <p><%= status.libelle %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
